asgiref==3.11.1
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.6
colorama==0.4.6
coverage==7.13.5
cryptography==46.0.6
distlib==0.4.0
dj-rest-auth==7.2.0
Django==6.0.3
django-allauth==65.15.0
djangorestframework==3.17.1
drf-spectacular==0.29.0
filelock==3.25.2
identify==2.6.18
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
nodeenv==1.10.0
oauthlib==3.3.1
packaging==26.0
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
pycparser==3.0
Pygments==2.19.2
PyJWT==2.12.1
pytest==9.0.2
pytest-django==4.12.0
python-discovery==1.2.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.0
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
virtualenv==21.2.0
